<!DOCTYPE html>
<!-- This site is maintained at https://github.com/ContraMontreal/contramontreal-org and is hosted on GitHub Pages -->
<html lang="{{ page.lang | default: "en" }}">
  <head>
      {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <div class="main-content">
        <header>
            {% include navigation.html %}
        </header>
        <main id="content" role="main">
            {{ content }}
        </main>
        <footer>
            {% include footer-custom.html %}
        </footer>
    </div>
  </body>
</html>
